.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form.vertical-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 10px;
}
